<h4><%= @heading %></h4>

<h5 style="color:grey;">Сторінка «Про нас» має стратегічне значення для сайту і бізнесу в цілому. Для користувачів вона є далеко не основною сторінкою для отримання цікавій для їх інформації про товари і послуги, але проміжної на шляху до здійснення угоди. «Про нас» — це найкраща можливість впливу на почуття довіри у потенційного покупця. Через дану сторінку компанія може донести свою місію, цінність, нішеве позиціонування. Одним словом, дати користувачеві те саме відчуття покупки чогось більшого, ніж просто товару / послуги.</h5>